<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <title>远程交流系统</title>
    <link rel="stylesheet" href="/wzclouds/meeting-static/lib/calendar/calendar_css/simple-calendar.css">
    <link rel="stylesheet" href="/wzclouds/meeting-static/lib/swiper/swiper.css">
    <link rel="stylesheet" href="/wzclouds/meeting-static/lib/webrtc/index.css">
    <link rel="stylesheet" href="/wzclouds/meeting-static/lib/video/video-js.min.css">
    <script src="/wzclouds/meeting-static/lib/jquery/jquery-3.3.1.min.js"></script>
  </head>
  <body id="body">
    <div id="meeting"></div>
    <!-- built files will be auto injected -->
    <!--<script src="/wzclouds-v1/dist-static/lib/jquery/jquery-3.3.1.min.js"></script>-->
    <script src="/wzclouds/meeting-static/lib/webrtc/socket.io.js"></script>
    <script src="/wzclouds/meeting-static/lib/webrtc/hark.bundle.js"></script>
    <script src="/wzclouds/meeting-static/lib/webrtc/WzRTC-client.js"></script>
    <script src="/wzclouds/meeting-static/lib/webrtc/conn.js"></script>
    <script src="/wzclouds/meeting-static/lib/webrtc/utils.js"></script>
    <script src="/wzclouds/meeting-static/lib/video/video.min.js"></script>
    <script src="/wzclouds/meeting-static/vue/axios.min.js"></script>
    <script src="/wzclouds/meeting-static/lib/calendar/calendar_js/simple-calendar.js"></script>
    <script src="/wzclouds/meeting-static/lib/swiper/swiper.js"></script>
    <script src="/wzclouds/meeting-static/lib/swiper/main.js"></script>
    <script src="/wzclouds/meeting-static/lib/d3/d3.js"></script>
    <script src="/wzclouds/meeting-static/lib/d3/d3Utils.js"></script>
  <script>
    // document.oncontextmenu = function(){
    //   return false;
    // }
  </script>
  </body>
</html>
